<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.min.js"></script>

</head>
<body>
<div id="todo-list-example">
    <form @submit.prevent="addNewTode">
        <label for="new-todo">Add a todo</label>
        <input type="text"
               v-model="newTodoText"
               id="new-todo"
               placeholder="E.g. Feed the cat"
        >
        <button>Add</button>
    </form>
    <ul>
        <!--<li-->
                <!--is="todo-item"-->
                <!--v-for="(todo,index) in todos"-->
                <!--:key="todo.id"-->
                <!--:title="todo.title"-->
        <!--&gt;</li>-->
        <!--<template >-->
            <li v-for="(todo,index) in todos">{{ todo.title }}
                <button @click="removeTodo(index)">remove</button>
            </li>
        <!--</template>-->
    </ul>
</div>
<script>
    var vm = new Vue({
        el: '#todo-list-example',
        data: {
            newTodoText: '',
            todos: [
                {
                    id: 1,
                    title: 'Do the dishes'
                },
                {
                    id: 2,
                    title: 'Take out the trash'
                },
            ],
            nextTodoId: 3
        },
        methods: {
            addNewTode (){
                this.todos.push({
                    id: this.nextTodoId++,
                    title: this.newTodoText
                })
                this.newTodoText = ''
            },
            removeTodo (index){
                this.todos.splice(index,1)
            }
        },
    })
</script>
</body>
</html>